@import url("./themes/colors.css");
@import url("./themes/reset.css");
#components-layout-demo-custom-trigger .trigger:hover {
  color: var(--primary);
}

.site-layout .site-layout-background {
  background: var(--white);
}

.ant-card-actions > li > span > span > svg {
  font-size: 1.5em;
}

.bookmark-icon {
  font-size: 1.5em;
}
